body{
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    /* stretches header/footer to end of page  */
}

.hero{
    background-color: #1F2937;
    padding: 0px 150px;
}

.heroHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* aligns logo and links to center in heroHeader div  */
}

.heroLinks{
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 16px;
    /* creates space between links  */
}

#logoText{
    color: #F9FAF8;
    font-size: 24px;
}

ul{
    list-style-type: none;
}

.heroContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#mainText{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.secondaryText{
    color: #E5E7EB;
    font-size: 18px;
}

.awesome{

    flex: 1 1 0px;
    /* shorthand to allow both items to share space equally  */
}

#img{
    color: #E5E7EB;
    background: gray;
    flex: 1 1 0px;
    /* shorthand to allow both items to share space equally  */
}

.information{
    display: flex;
    flex-direction: column;
    padding: 0px 150px;
    margin-bottom: 75px;
    
}

#infoHeaderText{
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

.infoContainer{
    display: flex;
    
}
.infoBox{
    width: 125px;
    height: 125px;
    border-radius: 12px;
    border: 3px solid;
    border-color: #3882F6;
}

.infoText{
    color: #1F2937;
    font-size: 18px;  
}




.quote{
    background-color: #E5E7EB;
    padding: 0px 200px
}

#quoteText{
    font: #1F2937;
    font-size: 36px;
    font-style: italic;
}

#quoteTextTwo{
    font: #1F2937;
    font-size: 15px;
    font-weight: bolder;
}

.action{
background-color: #3882F6;
margin: 75px;
display: flex;
justify-content: space-around;
align-items: center;
padding: 40px 40px;
border-radius: 7px;
}

#actionTextMain{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bolder;
    margin: 0px;
}

#actionTextSecondary{
    color: #E5E7EB;
    font-size: 18px;
    margin: 0px;
}

.footer{
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 12px;
    text-align: center;
    padding: 25px;
    margin: 0px;
}

.btn{
    border-radius: 6px;
    background-color: #3882F6;
    color: #F9FAF8;
}

.btn.two{
/* chaining selector two add additional style to the action button  */
    border-color: #F9FAF8;
}